
Project/Entities/obj/Debug/Entities.csproj.CoreCompileInputs.cache
Project/Entities/obj/Debug/Entities.csprojAssemblyReference.cache
Project/Entities/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Project/Entities/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Project/Entities/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Project/.vs/ProjectGroup6/v15/Server/sqlite3/storage.ide-shm
Project/WEB/bin/roslyn/VBCSCompiler.exe
Project/WEB/bin/roslyn/System.Reflection.Metadata.dll
Project/WEB/bin/roslyn/System.Collections.Immutable.dll
Project/WEB/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Project/WEB/bin/roslyn/Microsoft.CodeAnalysis.dll
Project/WEB/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Project/WEB/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Project/.vs/ProjectGroup6/v15/Server/sqlite3/storage.ide-wal
Project/.vs/ProjectGroup6/v15/Server/sqlite3/storage.ide
Project/.vs/ProjectGroup6/v15/Server/sqlite3/db.lock
Project/.vs/ProjectGroup6/v15/.suo
/Project/WEB/obj
/Project/WEB/bin
/Project/.vs
/Project/Constants/bin
/Project/Constants/obj
/Project/Entities/bin
/Project/Entities/obj
/Project/Helpers/bin
/Project/Helpers/obj
/Project/Services/obj
/Project/Services/bin
/Project/Repositories/obj
/Project/Repositories/bin
/Project/WEB/Images/Upload
