
@{
    ViewBag.Title = "Order Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section script{

    <script src="~/Areas/Admin/Assets/js/order.js"></script>
    <script src="~/Areas/Admin/Assets/js/OrderDetais.js"></script>
}

<!-- Title Row -->
<div class="row">
    <div class="col-xl-12">
        <div class="page-title-box">
            <h4 class="page-title float-left">Order</h4>
            <div class="clearfix"></div>

        </div>
    </div>
</div>

<!-- Content  -->
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>List Order</b></h4><br />
            <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="datatable_length">
                            <label>
                                Show
                                <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="datatable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr style="background-color:#2B3D51;color:white;text-align: center">
                                    <th>Id</th>
                                    <th>Customer Name</th>
                                    <th>Phone Number</th>
                                    <th>Address</th>
                                    <th>Total Amount</th>
                                    <th>Status</th>
                                    <th>Order Date</th>
                                    <th>Modified</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody id="order-data"></tbody>
                        </table>
                        <div class="content_detail__pagination cdp" actpage="1">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Oder Details -->
<div class="modal fade bs-example-modal-lg" id="modal-order-details" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 850px;text-align:center;margin-left:-150px;">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="body-modal-order-details" class="modal-body">
               
                <!-- end row -->

            </div> <!-- content -->
        </div>
    </div>
</div>
