@using Entities
@using Constants


<tr>

    <td></td>

    <td></td>
 
    <td></td>

    <td></td>
   
    <td></td>
 
    <td></td>

    <td></td>
  
    <td> </td>
   
    <td> </td>
  
    <td style="text-align:center">
       
        <button id="option_order" class="btn waves-effect waves-light btn-success disabled" style="padding:5px"> <i class="fa fa-check"></i> </button>
        <a href="#" id="edit-user" onclick="GetDataEdit()" class="btn waves-effect waves-light btn-warning" style="padding:5px">
          
            <i class="ion-information-circled"></i>
         
        </a>
        <button id="delete_user" class="btn waves-effect waves-light btn-danger disabled" style="padding:5px"> <i class="fa fa-remove"></i> </button>

        
    </td>
   
</tr>';