
@{
    ViewBag.Title = "Material Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section script{

    <script src="~/Areas/Admin/Assets/js/material.js"></script>
}
@section css{
    <style>

        /* The Modal (background) */
        .modalshow {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1051; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (image) */
        .modalshow-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation */
        .modalshow-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @@-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0)
            }

            to {
                -webkit-transform: scale(1)
            }
        }

        @@keyframes zoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }

        /* 100% Image Width on Smaller Screens */
        @@media only screen and (max-width: 700px) {
            .modalshow-content {
                width: 100%;
            }
        }
    </style>
}

<!-- Title Row -->
<div class="row">
    <div class="col-xl-12">
        <div class="page-title-box">
            <h4 class="page-title float-left">Material</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- Group modal -->
<div class="modal fade" id="modalGroup" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Group Management</h4>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Add Group modal -->
<div class="modal fade" id="modalAddGroup" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="margin-top:1px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">New Group</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form id="form-new-group" data-type="1">
                        <input type="text" style="width:75%" class="form-control" id="groupname" name="groupname" placeholder="Name Group">
                        <br />
                        <input type="text" style="width:35%" class="form-control" id="maxitem" name="maxitem" placeholder="Max Item">
                        <input type="hidden" style="width:35%" class="form-control" id="maxitem" name="groupid" placeholder="Max Item">
                        <br />
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox21" name="activegr" type="checkbox">
                            <label for="checkbox21"> Active </label>
                        </div>
                        <br />
                        <button class="btn btn-success btn-lg add-group" type="button" id="newGr">Save</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- end row -->
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row m-t-50">
                <button class="btn btn-primary waves-effect waves-light" id="btnOpenModalAdd" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="zmdi zmdi-plus-circle"></i>&nbsp; New Material</button>&nbsp;&nbsp;

                <button type="button" id="showGroup" class="btn btn-info waves-effect waves-light">Group Management</button>

                <div class="col-12 m-t-20">
                    <div class="" style="float:right">
                        <div id="datatable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable"></label>
                        </div>
                    </div>
                    <!-- End -->
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr style="background-color:#2B3D51;color:white;text-align: center">
                                <th>Id</th>
                                <th>Material Name</th>
                                <th>Material</th>
                                <th>Price</th>
                                <th>Image</th>
                                <th>Group</th>
                                <th>Status</th>
                                <th>Created</th>
                                <th>Modified</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="materialData"></tbody>
                    </table>
                    <div class="content_detail__pagination cdp" actpage="1">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- Modal Add Material -->
<div class="modal fade bs-example-modal-sm" id="new-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">New Material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_new_update" data-type="1">
                    <input name="id" value="" type="hidden" />
                    <div class="form-group row">
                        <label for="example-text-input" name="" class="col-2 col-form-label">Name</label>
                        <div class="col-10">
                            <input class="form-control" name="name" type="text" value="" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" name="" class="col-2 col-form-label">Material</label>
                        <div class="col-10">
                            <input class="form-control" name="material" type="text" value="" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" name="" class="col-2 col-form-label">Price</label>
                        <div class="col-10">
                            <input class="form-control" name="price" type="number" min="1" value="" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">

                        <label class="col-sm-2">Group</label>
                        <div class="col-10">
                            <select id="groupselect" class="form-control" name="selectgr"></select>
                        </div>
                    </div>
                    <div class="form-group row">

                        <label class="col-sm-2">Image</label>
                        <div class="col-10">
                            <input type="file" class="form-control-file img-file">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Active</label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox21" name="active" type="checkbox">
                                <label for="checkbox21"> Active </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>