
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section script{

    <script src="~/Areas/Admin/Assets/js/material.js"></script>
}
<!-- Title Row -->
<div class="row">
    <div class="col-xl-12">
        <div class="page-title-box">
            <h4 class="page-title float-left">Material</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row m-t-50">
                <button class="btn btn-primary waves-effect waves-light" id="btnOpenModalAdd" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="zmdi zmdi-plus-circle"></i>&nbsp; New Material</button>
               
                <div class="col-12 m-t-20">
                    <div class="" style="float:right">
                        <div id="datatable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable"></label>
                        </div>
                    </div>
                    <!-- End -->
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Material Name</th>
                                <th>Material</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Created</th>
                                <th>Modified</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="materialData"></tbody>
                    </table>
                    <div class="content_detail__pagination cdp" actpage="1">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- Modal Add -->
<div class="modal fade bs-example-modal-sm" id="new-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">New Material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_new_update" data-type="1">
                    <input name="id" value="" type="hidden" />
                    <div class="form-group row">
                        <label for="example-text-input" name="" class="col-2 col-form-label">Name</label>
                        <div class="col-10">
                            <input class="form-control" name="name" type="text" value="" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" name="" class="col-2 col-form-label">Material</label>
                        <div class="col-10">
                            <input class="form-control" name="material" type="text" value="" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" name="" class="col-2 col-form-label">Price</label>
                        <div class="col-10">
                            <input class="form-control" name="price" type="number" min="1" value="" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Active</label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox21" name="active" type="checkbox">
                                <label for="checkbox21"> Active </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>