<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="~/Areas/Admin/Assets/images/favicon.ico">

    <!-- App title -->
    <title>404 - Error</title>

    <!-- Bootstrap CSS -->
    <link href="~/Areas/Admin/Assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App CSS -->
    <link href="~/Areas/Admin/Assets/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Modernizr js -->
    <script src="~/Areas/Admin/Assets/js/modernizr.min.js"></script>

</head>


<body>

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">

        <div class="ex-page-content text-center">
            <div class="text-error">4<span class="ion-sad"></span>4</div>
            <h3 class="text-uppercase text-white font-600">Page not Found</h3>
            <p class="text-white m-t-30">
                It's looking like you may have taken a wrong turn. Don't worry... it happens to
                the best of us. You might want to check your internet connection. Here's a little tip that might
                help you get back on track.
            </p>
            <br>
            <a class="btn btn-pink waves-effect waves-light" href="/"> Return Home</a>

        </div>


    </div>
    <!-- end wrapper page -->

     <script>
        var resizefunc = [];
    </script>

     <!-- jQuery  -->
    <script src="~/Areas/Admin/Assets/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/popper.min.js"></script><!-- Tether for Bootstrap -->
    <script src="~/Areas/Admin/Assets/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/detect.js"></script>
    <script src="~/Areas/Admin/Assets/js/fastclick.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.blockUI.js"></script>
    <script src="~/Areas/Admin/Assets/js/waves.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.nicescroll.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.slimscroll.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/switchery/switchery.min.js"></script>

    <!-- App js -->
    <script src="~/Areas/Admin/Assets/js/jquery.core.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.app.js"></script>

</body>
</html>