<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <title>@ViewBag.Title</title>


    <!-- App Favicon -->
    <link rel="shortcut icon" href="~/Areas/Admin/Assets/images/favicon.ico">

    <!-- App title -->
    <title>Uplon - Responsive Admin Dashboard Template</title>

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Assets/plugins/morris/morris.css">

    <!-- Switchery css -->
    <link href="~/Areas/Admin/Assets/plugins/switchery/switchery.min.css" rel="stylesheet" />

    <!-- Custom box css -->
    <link href="~/Areas/Admin/Assets/plugins/custombox/css/custombox.min.css" rel="stylesheet">

    <!-- Modal css cdn -->
    <link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>

    <!-- Bootstrap CSS -->
    <link href="~/Areas/Admin/Assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App CSS -->
    <link href="~/Areas/Admin/Assets/css/style.css" rel="stylesheet" type="text/css" />

    <link href="~/Areas/Admin/Assets/css/pagination.css" rel="stylesheet" />

    <!-- Modernizr js -->
    <script src="~/Areas/Admin/Assets/js/modernizr.min.js"></script>
    <link href="~/Content/pnotify.custom.min.css" rel="stylesheet" />

    @*<!-- DataTables -->
        <link href="~/Areas/Admin/Assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Areas/Admin/Assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="~/Areas/Admin/Assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />*@

    @RenderSection("css", false)

    <style>
        #loading {
            background-color: gray;
            position: fixed;
            display: block;
            top: 0;
            bottom: 0;
            z-index: 1000000;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            text-align: center;
        }

            #loading img {
                margin: auto;
                display: block;
                top: calc(50% - 100px);
                left: calc(50% - 10px);
                position: absolute;
                z-index: 999999;
            }
    </style>

</head>
<body class="fixed-left">
    <div id="loading" style="display:none">
        <img src="~/Assets/images/icons/Spinner-0.5s-75px.gif" alt="Loading..." />
    </div>
    !-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="index.cshtml" class="logo">
                    <i class="zmdi zmdi-collection-image icon-c-logo"></i>
                    <span>TEAM 6</span>
                </a>
            </div>
            <nav class="navbar-custom">
                <ul class="list-inline float-right mb-0">
                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" id="open-notifi" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="zmdi zmdi-notifications-none noti-icon"></i>
                            <span class="noti-icon-badge"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg" aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5><small><span class="label label-danger pull-xs-right">7</span>Notification</small></h5>
                            </div>
                            <!-- item-->
                            <div id="notifi-content">

                            </div>
                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                View All
                            </a>
                        </div>
                    </li>
                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="zmdi zmdi-email noti-icon"></i>
                            <span class="noti-icon-badge"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg" aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title bg-success">
                                <h5><small><span class="label label-danger pull-xs-right">7</span>Messages</small></h5>
                            </div>
                            <div>

                            </div>
                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                View All
                            </a>
                        </div>
                    </li>
                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="~/Areas/Admin/Assets/images/users/avatar-3.jpg" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow"><small>Welcome ! Admin</small> </h5>
                            </div>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="zmdi zmdi-account-circle"></i> <span>Profile</span>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="zmdi zmdi-settings"></i> <span>Settings</span>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="zmdi zmdi-lock-open"></i> <span>Lock Screen</span>
                            </a>
                            <!-- item-->
                            <a href="#" id="btnLogout" class="dropdown-item notify-item">
                                <i class="zmdi zmdi-power"></i> <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="zmdi zmdi-menu"></i>
                        </button>
                    </li>
                    @*<li class="hidden-mobile app-search">
                            <form role="search" class="">
                                <input type="text" placeholder="Search..." class="form-control">
                                <a href=""><i class="fa fa-search"></i></a>
                            </form>
                        </li>*@
                </ul>
            </nav>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul>
                        <li class="text-muted menu-title">Navigation</li>
                        <li class="has_sub">
                            <a href="/admin/home" class="waves-effect"><span class="label label-pill label-primary float-right"></span><i class="zmdi zmdi-view-dashboard"></i><span> Dashboard </span> </a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/user" class="waves-effect"><i class="ion-android-social-user"></i><span> Users </span> </a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/product" class="waves-effect"><i class="zmdi zmdi-photo-size-select-large"></i><span> Product </span> </a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/material" class="waves-effect"><i class="zmdi zmdi-photo-size-select-large"></i><span> Material </span> </a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/order" class="waves-effect"><i class="zmdi zmdi-shopping-cart"></i> <span> Order </span> </a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/setting" class="waves-effect"><i class="zmdi zmdi-settings"></i> <span> Setting </span> </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div>
                        @RenderBody()
                    </div>
                </div> <!-- container -->
            </div> <!-- content -->
        </div>
        <!-- End content-page -->
        <!-- ============================================================== -->
        <footer class="footer text-right">
            2018 © TEAM 6.
        </footer>
    </div>
    <!-- END wrapper -->
    <script>
        var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="~/Areas/Admin/Assets/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/popper.min.js"></script><!-- Tether for Bootstrap -->
    <script src="~/Areas/Admin/Assets/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/detect.js"></script>
    <script src="~/Areas/Admin/Assets/js/fastclick.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.blockUI.js"></script>
    <script src="~/Areas/Admin/Assets/js/waves.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.nicescroll.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.slimscroll.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/switchery/switchery.min.js"></script>
    <!--Morris Chart-->
    <script src="~/Areas/Admin/Assets/plugins/morris/morris.min.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/raphael/raphael-min.js"></script>
    <!-- Counter Up  -->
    <script src="~/Areas/Admin/Assets/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/counterup/jquery.counterup.min.js"></script>
    @*<!-- Required datatable js -->
        <script src="~/Areas/Admin/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Areas/Admin/Assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="~/Areas/Admin/Assets/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="~/Areas/Admin/Assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="~/Areas/Admin/Assets/plugins/datatables/jszip.min.js"></script>
        <script src="~/Areas/Admin/Assets/plugins/datatables/pdfmake.min.js"></script>
        <script src="~/Areas/Admin/Assets/plugins/datatables/vfs_fonts.js"></script>
        <script src="~/Areas/Admin/Assets/plugins/datatables/buttons.html5.min.js"></script>
        <script src="~/Areas/Admin/Assets/plugins/datatables/buttons.print.min.js"></script>
        <script src="~/Areas/Admin/Assets/plugins/datatables/buttons.colVis.min.js"></script><!-- Responsive examples -->
        <script src="~/Areas/Admin/Assets/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="~/Areas/Admin/Assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>*@
    <!-- App js -->
    <script src="~/Areas/Admin/Assets/js/jquery.core.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.app.js"></script>
    <!-- Page specific js -->
    <script src="~/Areas/Admin/Assets/pages/jquery.dashboard.js"></script>
    <!-- Modal-Effect -->
    <script src="~/Areas/Admin/Assets/plugins/custombox/js/custombox.min.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/custombox/js/legacy.min.js"></script>
    <!-- Modal JS CDN -->
    <script src="~/Areas/Admin/Assets/js/sweetalert.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/pagination.js"></script>
    <script src="~/Areas/Admin/Assets/js/logout.js"></script>
    <script src="~/Scripts/pnotify.custom.min.js"></script>
    <script>
        var page = 5;
        var takeCount = 1;
        $(document).ready(function () {
            $('#open-notifi').click(function () {
                GetAllNotification();
            })
        })
        function GetAllNotification() {
            if (!hasMoreRecords) {
                return;
            }
            $.ajax({
                url: '/NotificationAdmin/GetNotification',
                data: { page: page, takeCount: takeCount },
                dataType: 'html',
                success: function (data) {
                    $('#notifi-content').append(data);
                }
            });
        }
    </script>
    @RenderSection("script", false)

</body>
</html>
