@using Entities
@model List<Notification>
@using Helpers
@foreach (var item in Model)
{
    <a href="javascript:void(0);" class="dropdown-item notify-item">
        <div class="notify-icon bg-faded">
            <img src="~/Areas/Admin/Assets/images/users/avatar-3.jpg" alt="img" class="rounded-circle img-fluid">
        </div>
        <p class="notify-details">
            <b>Robert Taylor</b>
            <span>New tasks needs to be done</span>
            <small class="text-muted">@ExchangeTime.Exchange(item.CreatedAt.Value)</small>
        </p>
    </a>
}
