<div class="form-group">
    <div class="form">
        <input type="text" style="width:97%" class="form-control addressmuti" id="addaddress" name="addaddress" placeholder="New Address">
        <br />
    </div>
    <button class="btn btn-success btn-lg" data-dismiss="modal" aria-hidden="true">Save</button>

</div> 