<div class="form-group">
    <div class="form" id="form-new-address">
        <form>
            <input type="text" style="width:97%" class="form-control addressmuti" id="addaddress" name="newaddress" placeholder="New Address">
            <br />

            <button class="btn btn-success btn-lg" id="newAddress" data-dismiss="modal" aria-hidden="true">Save</button>
        </form>
    </div>

</div> 