<div class="form-group">
    <div class="form" >
        <form id="form-new-address">
            <input type="text" style="width:97%" class="form-control" id="addaddress" name="newaddress" placeholder="New Address">
            <br />

            <button class="btn btn-success btn-lg" id="newAddress">Save</button>
        </form>
    </div>

</div> 