@using Constants
@using Helpers
@using WEB.Models
@using Entities
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var showCart = ViewBag.Cart as List<CartItem>;
    var user = ViewBag.User as User;
    decimal total = 0;
    var checkOut = ViewBag.CheckOut as CheckOut;

}


@section css{
    <style type="text/css">

        /*Breadcrumbs*/
        .breadcrumbs {
            padding: 10px 0 6px;
            box-shadow: inset 0 0 4px #eee;
            background: url("https://formden.com/static/assets/img/breadcrumbs.png") repeat;
        }

            .breadcrumbs h1 {
                color: #686868;
                font-size: 26px;
                margin-top: 12px;
            }

        .breadcrumb {
            top: 9px;
            padding-right: 0;
            background: none;
            position: relative;
        }

            .breadcrumb a {
                color: #777;
            }

            .breadcrumb li.active,
            .breadcrumb li a:hover {
                color: #72c02c;
                text-decoration: none;
            }

        .margin-bottom-30 {
            margin-bottom: 30px;
        }

        .btn-template-main {
            color: #38a7bb;
            background-color: #fff;
            border-color: #38a7bb;
        }

        .dl-small {
            margin-bottom: 4px;
        }


        /*.form-control {
            width: auto;
        }

        .form-control-small {
            width: 100px;
        }

        .form-control-large {
            width: 310px;
        }*/

        /* CSS for Credit Card Payment form */
        .credit-card-box .panel-title {
            display: inline;
            font-weight: bold;
        }

        .credit-card-box .form-control.error {
            border-color: red;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
        }

        .credit-card-box label.error {
            font-weight: bold;
            color: red;
            padding: 2px 8px;
            margin-top: 2px;
        }

        .credit-card-box .payment-errors {
            font-weight: bold;
            color: red;
            padding: 2px 8px;
            margin-top: 2px;
        }

        .credit-card-box label {
            display: block;
        }
        /* The old "center div vertically" hack */
        .credit-card-box .display-table {
            display: table;
        }

        .credit-card-box .display-tr {
            display: table-row;
        }

        .credit-card-box .display-td {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
        }
        /* Just looks nicer */
        .credit-card-box .panel-heading img {
            min-width: 180px;
        }
    </style>

}

@section script{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>


    <script src="~/Scripts/payment.js"></script>
    <script js>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

    </script>
}
<!-- Preloader section
================================================== -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>
<!-- Navigation section
================================================== -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">TEAM SiX</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/upload" class="smoothScroll">UPLOAD</a></li>
                <li><a href="#" class="smoothScroll">MY ORDERS</a></li>
                <li><a href="/info" class="smoothScroll">ACCOUNT</a></li>

            </ul>
        </div>

    </div>
</div>

<!-- Home section
================================================== -->
<!--  <div class="breadcrumbs margin-bottom-30">
    <div class="container">
        <h1 class="pull-left">Checkout Order</h1>
        <ul class="pull-right breadcrumb">

            <li><a href="/">Home</a></li>
            <li class="active">Checkout Order</li>
        </ul>
    </div>
</div> -->

<div class="container" style="margin-top: 25px;">
    <div class="row">


        <div style="text-align: center;">
            <i class="fa fa-credit-card fa-3x text-primary"></i>
            <h2 class="text-center">Payment</h2>
        </div>
        <h4> Ship my order to&hellip;</h4>
        <div class="list-group">
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    <div class="row radio">
                        @if (checkOut != null)
                        {

                            <div class="col-sm-8" style="text-align: center;">
                                <h3 class="text-danger">@user.Customer.CustomerName</h3>
                                <h4 class="text-decoration">@checkOut.Address.AddressDetails</h4>
                                <h5 class="text-primary">@checkOut.PhoneNumber</h5>
                            </div>
                            <div class="col-xs-3 text-success">
                                <h4>Payment amount : </h4>
                                <h3><strong>@(showCart != null ? showCart.Sum(c => c.Quantity * (c.Product.ProductPrice + c.Material.Price)).Value.ToString("0,0") : string.Empty)VND</strong>  </h3>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <h4>I'll pay with&hellip;</h4>
            <div class="list-group">
                <div id="show-credit">

                </div>

                <!--  Show credit modal  -->
                <div id="modalCredit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="text-align: left;">
                                <h5>
                                    Credit Card
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End modal -->
                <!-- Add credit modal -->
                <div id="modaladdcredit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="text-align: left;">
                                <h5>
                                    New Credit Card.
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">

                                <!-- CREDIT CARD FORM STARTS HERE -->
                                <div class="panel panel-default credit-card-box">
                                    <div class="panel-heading display-table">
                                        <div class="row display-tr">
                                            <h3 class="panel-title display-td">Payment Details</h3>
                                            <div class="display-td">
                                                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="cardNumber">CARD NUMBER</label>
                                                        <div class="input-group">
                                                            <input type="tel"
                                                                   class="form-control"
                                                                   name="cardNumber"
                                                                   placeholder="Valid Card Number"
                                                                   autocomplete="cc-number"
                                                                   required autofocus />
                                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-7 col-md-7">
                                                    <div class="form-group">
                                                        <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                                        <input type="tel"
                                                               class="form-control"
                                                               name="cardExpiry"
                                                               placeholder="MM / YY"
                                                               autocomplete="cc-exp"
                                                               required />
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 col-md-5 pull-right">
                                                    <div class="form-group">
                                                        <label for="cardCVC">CV CODE</label>
                                                        <input type="tel"
                                                               class="form-control"
                                                               name="cardCVC"
                                                               placeholder="CVC"
                                                               autocomplete="cc-csc"
                                                               required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="subscribe btn btn-success btn-lg btn-block" type="button">Start Subscription</button>
                                                </div>
                                            </div>
                                            <div class="row" style="display:none;">
                                                <div class="col-xs-12">
                                                    <p class="payment-errors"></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- CREDIT CARD FORM ENDS HERE -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End modal -->

                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label data-toggl-e="collapse" data-target="#newcard">
                                    <input class="showAddCredit" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    A New Credit Card
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="https://lovewithfood.com/assets/credit_cards/cards-b3a7c7b8345355bf110ebedfd6401312.png" height="25" alt="" />
                                    </a>
                                    <div class="media-body" id="newcard">
                                        We accept these credit cards.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    PayPal
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/PP_Acceptance_Marks_for_LogoCenter_76x48.png" height="25" alt="" />
                                    </a>
                                    <div class="media-body">
                                        When you click "Place Order", you will be taken to the PayPal website.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well">
                <button type="button" class="btn btn-success btn-lg btn-block" id="checkout">Place Order</button>
            </div>
        </div>
    </div>
</div>
<hr>


