@using Entities

@{
    var products = ViewBag.Product as List<Product>;
    ViewBag.Title = "Upload Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />

    <link href="~/Assets/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-select.min.css" rel="stylesheet" />
    <style type="text/css">
        .nopad {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        /*image gallery*/
        .image-checkbox {
            cursor: pointer;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: 4px solid transparent;
            margin-bottom: 0;
            outline: 0;
        }

            .image-checkbox input[type="checkbox"] {
                display: none;
            }

        .image-checkbox-checked {
            border: 4px solid #4a8cbd;
        }

        .image-checkbox .fa {
            position: absolute;
            color: #4A79A3;
            background-color: #fff;
            padding: 10px;
            top: 0;
            right: 0;
        }

        .image-checkbox-checked .fa {
            display: block !important;
        }

        .file-preview {
            border-radius: 5px;
            border: 1px solid #ddd;
            padding: 8px;
            width: 560px;
            margin-bottom: 5px;
        }

        .file-drop-zone {
            border: 1px dashed #aaa;
            border-radius: 4px;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            padding: 25px;
        }

        .wrapper-scroll-y {
            display: block;
            max-height: 250px;
            overflow-y: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    </style>

}
@section script{
    <script src="~/Assets/js/bootstrap-select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>
    <script src="~/Scripts/cart.js"></script>
}
<!-- Preloader section
================================================== -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>



<!-- Navigation section
================================================== -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">TEAM SiX</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home" class="smoothScroll">HOME</a></li>
                <li><a href="#service" class="smoothScroll">SERVICES</a></li>
                <li><a href="#about" class="smoothScroll">ABOUT</a></li>
                <li><a href="#team" class="smoothScroll">TEAM</a></li>

            </ul>
        </div>

    </div>
</div>

<!-- Home section
================================================== -->
<div class="container" style="margin-top: 15px;">
    <div class="row">
        <div class="col-md-12">
            <div class="btn btn-primary" style="position: relative;overflow: hidden;margin-bottom: 10px;">
                <i class="fa fa-folder-open"></i>
                <span class="hidden-xs">Browse …</span>
                <input id="file-input" type="file" accept="image/x-png,image/gif,image/jpeg" style="position: absolute;font-size: 15px;opacity: 0;right: 0;top: 0;" multiple />
            </div>
            <div class="btn btn-danger" style="float: right;overflow: hidden;margin-bottom: 10px;" id="selectall">
                <span data-mode="check" class="hidden-xs" onclick="toggle(this);">Select All</span>

            </div>
            <div class=".file-preview">
                <div class=" file-drop-zone">
                    <div class="file-drop-zone-title">Choose &amp; Upload Your Images …</div>
                    <div class="file-preview-thumbnails">
                        <div class="wrapper-scroll-y">
                            <div id="preview"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="class=" col-md-12">

                <table id="cart" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:45%"></th>
                            <th style="width:15%">Size & Material</th>
                            <th style="width:15%">Options</th>
                            <th style="width:5%">Quantity</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td data-th="">
                                <select class="selectpicker" data-style="btn-primary">
                                    <option value="0">Select...</option>
                                    @if (products != null)
                                    {

                                        foreach (var item in products)
                                        {
                                            <option value="@item.ProductId">@item.ProductSize & @item.ProductMaterial</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select class="selectpicker" data-style="btn-success">
                                    <option>Select...</option>
                                    <option>
                                        Delete Background
                                    </option>
                                    <option>Increase Quality</option>
                                    <option>
                                        Blur The Background
                                    </option>
                                </select>
                            </td>
                            <td><input type="number" class="form-control text-center" value="0"></td>
                            <td></td>
                            <td></td>

                            <td class="actions" data-th="">
                                <button class="btn btn-primary btn-block" id="add-cart"><i class="fa fa-shopping-cart"></i>&nbsp Add To Cart</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>

            <div id="list-cart">
                <h2 style="text-align: center;">My Cart</h2>

            </div>
        </div>

    </div>
</div>
