@using Entities
@model List<Notification>
@using Helpers
@foreach (var item in Model)
{
    <a href="javascript:void(0);" class="dropdown-item notify-item">
        <div class="notify-icon bg-danger"><i class="icon-like"></i></div>
        <p class="notify-details">@item.Title<b></b><small class="text-muted">@ExchangeTime.Exchange(item.CreatedAt.Value)</small></p>
    </a>
}

