
@{
    ViewBag.Title = "Product Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section script{
    <script src="~/Areas/Admin/Assets/js/pagination.min.js"></script>

    <script src="~/Areas/Admin/Assets/js/product.js"></script>
}
<div class="row">
    <div class="col-xl-12">
        <div class="page-title-box">
            <h4 class="page-title float-left">Sizes</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row m-t-50">
                <button class="btn btn-primary waves-effect waves-light" id="btnOpenModalAdd"><i class="zmdi zmdi-plus-circle"></i>&nbsp;New Product</button>
                
                <div class="col-12 m-t-20">
                    <div class="" style="float:right">
                        <div id="datatable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable"></label>
                        </div>
                    </div>
                    <!-- End -->
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr style="background-color:#2B3D51;color:white;text-align: center">
                                <th>Id</th>
                                <th>Customer Name</th>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Created</th>
                                <th>Modified</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="product-data"></tbody>
                    </table>
                    <div class="content_detail__pagination cdp" actpage="1">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- Modal Add -->
<div class="modal fade bs-example-modal-sm" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">New Size</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-product" class="add_size" data-type="1">
                    <input name="product-id" value="" type="hidden" />
                    <div class="form-group row">
                        <label for="example-text-input" name="size_name" class="col-2 col-form-label">Name</label>
                        <div class="col-10">
                            <input class="form-control" name="product-name" required="" type="text" value="" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Size</label>
                        <div class="col-10">
                            <input class="form-control" name="product-size" required="" type="text" value="" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Price</label>
                        <div class="col-10">
                            <input class="form-control" name="product-price" required="" type="number" min="0" value="" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Active</label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox21" name="product-active" type="checkbox">
                                <label for="checkbox21"> Active </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="submit-form" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
